# LibreLane custom pin placement
# Special regex characters in bus indices must be escaped.

#E
clk_i
rst_ni
en_i

#W
count_o\[0\]
count_o\[1\]
count_o\[2\]
count_o\[3\]
count_o\[4\]
count_o\[5\]
count_o\[6\]
count_o\[7\]

#N

#S
